<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-weight: bolder; font-size:xx-large">HealthDocX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item <%= title === 'Home' ? 'active' : '' %>">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item <%= title === 'News' ? 'active' : '' %>">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item <%= title === 'Info' ? 'active' : '' %>">
            <a class="nav-link" href="#">Info</a>
          </li>
          <li class="nav-item <%= title === 'About_Us' ? 'active' : '' %>">
            <a class="nav-link" href="#">About us</a>
          </li>
          <% if (!user) { %>
          <li class=" nav-item <%= title === 'Login' ? 'active' : '' %>"">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class=" nav-item <%= title === 'Sign Up' ? 'active' : '' %>">
            <a class="nav-link" href="/auth/sign_up">Sign Up</a>
          </li>
          <% } else { %>
            <li class="nav-item <%= title === 'Dashboard' ? 'active' : '' %>">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="auth/logout">Logout</a>
            </li>
          <% } %>

        </ul>
      </div>
    </div>
  </nav>
  